@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
    background-color: #296B58;
}
h1 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 3em;
    font-weight: bold;

}
h3 {
    font-family: 'Indie Flower', cursive;
    text-align: center;

}
div {
    padding: 30px;
}
.s1 {
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px black;
}
#sobre:hover {
    box-shadow: 1px 2px 2px 2px black;
    transform: scale(0.95);
    transition: all 0.3s;
}
.s2 {
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px black;
}
.s3  {
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px black;
    }
#sobre {
    margin: auto;
    display: block;
}
button {
    padding: 5px;
    border-radius: 10px;
    color: #296B58;
    font-weight: bold;
    margin: auto;
    display: block;

}
button:hover {
    transform: scale(0.95);
    transition: all 0.3s;
    border: 3px solid black;
} 